body {
    font-family: Times New Roman, serif;
    text-align: center;
    background-color: #fbfaf2;
}

h1 {
    font-family: Garamond, serif;
    color: #11810;
}

form {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

button {
    margin-left: 10px;
    padding: 5px;
}
